set timeout=1
set default=0
serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
terminal_input console
terminal_output serial
set gfxmode=800x600x32
set gfxpayload=keep

menuentry "SplintOS" {
    multiboot /boot/splintos.bin
    boot
}

menuentry "SplintOS (recovery)" {
    multiboot /boot/splintos.bin recovery
    boot
}
